.titulo-principal {

    padding-left: 20px;
}


#banner{
    width: 100%;
}

.principal {
    background-color: #cccccc;
    padding: 20px;
}

.titulo-centralizado {
    border: black; padding: 20px; margin-left: 40px; text-align: center;
}

p{
    text-align: center;
    background-color: #cccccc;
}



em strong{
    color: red;
}

#mision{
  font-size: 20px;

}


.diferenciales {
    background: white;
    padding: 30px;
}

.items {
    font-style: italic;
}

ul{ 
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagendiferenciales{
    width: 50%;
}

